In [1]:
import pandas as pd

In [2]:
ebola = pd.read_csv('../data/country_timeseries.csv')

In [3]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [5]:
ebola.fillna(0).head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,0.0,10030.0,0.0,0.0,0.0,0.0,0.0,1786.0,0.0,2977.0,0.0,0.0,0.0,0.0,0.0
1,1/4/2015,288,2775.0,0.0,9780.0,0.0,0.0,0.0,0.0,0.0,1781.0,0.0,2943.0,0.0,0.0,0.0,0.0,0.0
2,1/3/2015,287,2769.0,8166.0,9722.0,0.0,0.0,0.0,0.0,0.0,1767.0,3496.0,2915.0,0.0,0.0,0.0,0.0,0.0
3,1/2/2015,286,0.0,8157.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3496.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12/31/2014,284,2730.0,8115.0,9633.0,0.0,0.0,0.0,0.0,0.0,1739.0,3471.0,2827.0,0.0,0.0,0.0,0.0,0.0

In [6]:
ebola.fillna(method='ffill').head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2769.0,8157.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [7]:
ebola.fillna(method='ffill').tail()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
117,3/27/2014,5,103.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,66.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,62.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,60.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,59.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.0,8.0,6.0,0.0,1.0,1.0,1.0,1.0,29.0,6.0,5.0,0.0,0.0,0.0,1.0,1.0

In [8]:
ebola.fillna(method='bfill').head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,8166.0,10030.0,20.0,1.0,4.0,1.0,7.0,1786.0,3496.0,2977.0,8.0,0.0,1.0,0.0,6.0
1,1/4/2015,288,2775.0,8166.0,9780.0,20.0,1.0,4.0,1.0,7.0,1781.0,3496.0,2943.0,8.0,0.0,1.0,0.0,6.0
2,1/3/2015,287,2769.0,8166.0,9722.0,20.0,1.0,4.0,1.0,7.0,1767.0,3496.0,2915.0,8.0,0.0,1.0,0.0,6.0
3,1/2/2015,286,2730.0,8157.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3496.0,2827.0,8.0,0.0,1.0,0.0,6.0
4,12/31/2014,284,2730.0,8115.0,9633.0,20.0,1.0,4.0,1.0,7.0,1739.0,3471.0,2827.0,8.0,0.0,1.0,0.0,6.0

In [9]:
ebola.fillna(method='bfill').tail()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ebola.interpolate()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.000000,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.000000,NaN,2977.000000,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.000000,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.000000,NaN,2943.000000,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.000000,8166.000000,9722.0,NaN,NaN,NaN,NaN,NaN,1767.000000,3496.0,2915.000000,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,2749.500000,8157.000000,9677.5,NaN,NaN,NaN,NaN,NaN,1753.000000,3496.0,2871.000000,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.000000,8115.000000,9633.0,NaN,NaN,NaN,NaN,NaN,1739.000000,3471.0,2827.000000,NaN,NaN,NaN,NaN,NaN
5,12/28/2014,281,2706.000000,8018.000000,9446.0,NaN,NaN,NaN,NaN,NaN,1708.000000,3423.0,2758.000000,NaN,NaN,NaN,NaN,NaN
6,12/27/2014,280,2695.000000,7997.500000,9409.0,NaN,NaN,NaN,NaN,NaN,1697.000000,3418.0,2732.000000,NaN,NaN,NaN,NaN,NaN
7,12/24/2014,277,2630.000000,7977.000000,9203.0,NaN,NaN,NaN,NaN,NaN,1652.000000,3413.0,2655.000000,NaN,NaN,NaN,NaN,NaN
8,12/21/2014,273,2597.000000,7919.500000,9004.0,NaN,NaN,NaN,NaN,NaN,1607.000000,3398.5,2582.000000,NaN,NaN,NaN,NaN,NaN
9,12/20/2014,272,2571.000000,7862.000000,8939.0,NaN,NaN,NaN,NaN,NaN,1586.000000,3384.0,2556.000000,NaN,NaN,NaN,NaN,NaN
10,12/18/2014,271,2493.500000,7830.000000,8647.5,NaN,NaN,NaN,NaN,NaN,1555.500000,3376.0,2320.500000,NaN,NaN,NaN,NaN,NaN
11,12/14/2014,267,2416.000000,7813.500000,8356.0,NaN,NaN,NaN,NaN,NaN,1525.000000,3333.0,2085.000000,NaN,NaN,NaN,NaN,NaN
12,12/9/2014,262,2354.000000,7797.000000,8126.5,NaN,NaN,NaN,NaN,NaN,1476.500000,3290.0,1926.500000,NaN,NaN,NaN,NaN,NaN
13,12/7/2014,260,2292.000000,7758.000000,7897.0,20.0,1.0,4.0,1.0,7.0,1428.000000,3233.5,1768.000000,8.0,0.0,1.0,0.0,6.0
14,12/3/2014,256,2228.000000,7719.000000,7604.5,20.0,1.0,4.0,1.0,7.0,1377.500000,3177.0,1675.500000,8.0,0.0,1.0,0.0,6.0
15,11/30/2014,253,2164.000000,7677.000000,7312.0,20.0,1.0,4.0,1.0,7.0,1327.000000,3161.0,1583.000000,8.0,0.0,1.0,0.0,6.0
16,11/28/2014,251,2149.000000,7635.000000,6955.5,20.0,1.0,4.0,1.0,7.0,1293.500000,3145.0,1490.500000,8.0,0.0,1.0,0.0,6.0
17,11/23/2014,246,2134.000000,7401.500000,6599.0,20.0,1.0,4.0,1.0,7.0,1260.000000,3080.5,1398.000000,8.0,0.0,1.0,0.0,6.0
18,11/22/2014,245,2090.500000,7168.000000,6394.5,20.0,1.0,4.0,1.0,6.5,1237.000000,3016.0,1332.500000,8.0,0.0,1.0,0.0,6.0
19,11/18/2014,241,2047.000000,7082.000000,6190.0,20.0,1.0,4.0,1.0,6.0,1214.000000,2963.0,1267.000000,8.0,0.0,1.0,0.0,6.0
20,11/16/2014,239,1971.000000,7075.500000,6073.0,20.0,1.0,4.0,1.0,5.0,1192.000000,2963.5,1250.000000,8.0,0.0,1.0,0.0,5.0
21,11/15/2014,238,1945.000000,7069.000000,5829.5,20.0,1.0,4.0,1.0,4.5,1179.000000,2964.0,1218.500000,8.0,0.0,1.0,0.0,4.0
22,11/11/2014,234,1919.000000,6973.500000,5586.0,20.0,1.0,4.0,1.0,4.0,1166.000000,2888.0,1187.000000,8.0,0.0,1.0,0.0,3.0
23,11/10/2014,233,1898.500000,6878.000000,5477.0,20.0,1.0,4.0,1.0,2.5,1154.000000,2812.0,1178.000000,8.0,0.0,1.0,0.0,2.0
24,11/9/2014,232,1878.000000,6850.000000,5368.0,20.0,1.0,4.0,1.0,1.0,1142.000000,2824.0,1169.000000,8.0,0.0,1.0,0.0,1.0
25,11/8/2014,231,1838.666667,6822.000000,5115.0,20.0,1.0,4.0,1.0,1.0,1112.666667,2836.0,1149.500000,8.0,0.0,1.0,0.0,1.0
26,11/4/2014,227,1799.333333,6619.000000,4862.0,20.0,1.0,4.0,1.0,1.0,1083.333333,2766.0,1130.000000,8.0,0.0,1.0,0.0,1.0
27,11/3/2014,226,1760.000000,6587.666667,4810.5,20.0,1.0,4.0,1.0,1.0,1054.000000,2743.0,1100.000000,8.0,0.0,1.0,0.0,1.0
28,11/2/2014,225,1731.000000,6556.333333,4759.0,20.0,1.0,4.0,1.0,1.0,1041.000000,2720.0,1070.000000,8.0,0.0,1.0,0.0,1.0
29,10/31/2014,222,1699.000000,6525.000000,5048.5,20.0,1.0,4.0,1.0,1.0,1029.500000,2697.0,1290.000000,8.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,5/23/2014,62,258.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,174.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
93,5/12/2014,51,248.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,171.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
94,5/10/2014,49,233.000000,12.000000,0.0,0.0,1.0,1.0,1.0,1.0,157.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
95,5/7/2014,46,236.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,158.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
96,5/5/2014,44,235.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,157.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
97,5/3/2014,42,231.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,155.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
98,5/1/2014,40,226.000000,13.000000,0.0,0.0,1.0,1.0,1.0,1.0,149.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
99,4/26/2014,35,224.000000,24.000000,0.0,0.0,1.0,1.0,1.0,1.0,143.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
100,4/24/2014,33,221.000000,35.000000,0.0,0.0,1.0,1.0,1.0,1.0,142.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
101,4/23/2014,32,218.000000,34.666667,0.0,0.0,1.0,1.0,1.0,1.0,141.000000,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
102,4/22/2014,31,214.666667,34.333333,0.0,0.0,1.0,1.0,1.0,1.0,139.333333,11.0,0.000000,0.0,0.0,0.0,1.0,1.0
103,4/21/2014,30,211.333333,34.000000,2.4,0.0,1.0,1.0,1.0,1.0,137.666667,11.0,0.285714,0.0,0.0,0.0,1.0,1.0
104,4/20/2014,29,208.000000,30.500000,4.8,0.0,1.0,1.0,1.0,1.0,136.000000,6.0,0.571429,0.0,0.0,0.0,1.0,1.0
105,4/17/2014,26,203.000000,27.000000,7.2,0.0,1.0,1.0,1.0,1.0,129.000000,9.5,0.857143,0.0,0.0,0.0,1.0,1.0
106,4/16/2014,25,197.000000,27.000000,9.6,0.0,1.0,1.0,1.0,1.0,122.000000,13.0,1.142857,0.0,0.0,0.0,1.0,1.0
107,4/15/2014,24,182.500000,26.666667,12.0,0.0,1.0,1.0,1.0,1.0,115.000000,13.0,1.428571,0.0,0.0,0.0,1.0,1.0
108,4/14/2014,23,168.000000,26.333333,7.0,0.0,1.0,1.0,1.0,1.0,108.000000,13.0,1.714286,0.0,0.0,0.0,1.0,1.0
109,4/11/2014,20,159.000000,26.000000,2.0,0.0,1.0,1.0,1.0,1.0,106.000000,13.0,2.000000,0.0,0.0,0.0,1.0,1.0
110,4/9/2014,18,158.000000,25.000000,2.0,0.0,1.0,1.0,1.0,1.0,101.000000,12.0,2.000000,0.0,0.0,0.0,1.0,1.0
111,4/7/2014,16,151.000000,21.000000,2.0,0.0,1.0,1.0,1.0,1.0,95.000000,10.0,2.000000,0.0,0.0,0.0,1.0,1.0
112,4/4/2014,13,143.000000,18.000000,2.0,0.0,1.0,1.0,1.0,1.0,86.000000,7.0,2.000000,0.0,0.0,0.0,1.0,1.0
113,4/1/2014,10,127.000000,8.000000,2.0,0.0,1.0,1.0,1.0,1.0,83.000000,5.0,2.000000,0.0,0.0,0.0,1.0,1.0
114,3/31/2014,9,122.000000,8.000000,2.0,0.0,1.0,1.0,1.0,1.0,80.000000,4.0,2.000000,0.0,0.0,0.0,1.0,1.0
115,3/29/2014,7,112.000000,7.000000,2.0,0.0,1.0,1.0,1.0,1.0,70.000000,2.0,2.000000,0.0,0.0,0.0,1.0,1.0
116,3/28/2014,6,112.000000,3.000000,2.0,0.0,1.0,1.0,1.0,1.0,70.000000,3.0,2.000000,0.0,0.0,0.0,1.0,1.0
117,3/27/2014,5,103.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,66.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
118,3/26/2014,4,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,62.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
119,3/25/2014,3,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,60.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
120,3/24/2014,2,86.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,59.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0
121,3/22/2014,0,49.000000,8.000000,6.0,0.0,1.0,1.0,1.0,1.0,29.000000,6.0,5.000000,0.0,0.0,0.0,1.0,1.0